# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=12345678

# RabbitMQ settings
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=12345678

# Minio settings
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=12345678
MINIO_SSL=false

# Mongo settings
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=12345678

# MaxMind GeoLite2 (https://www.maxmind.com/en/geolite2/signup)
MAXMIND_LICENSE_KEY=abcd

# Gateway
GATEWAY_HOST=localhost
GATEWAY_PORT=8080

# Auth service
AUTH_SERVICE_HOST=auth_service
AUTH_SERVICE_PORT=50051

# Company service
COMPANY_SERVICE_HOST=company_service
COMPANY_SERVICE_PORT=50052

# Application service
APPLICATION_SERVICE_HOST=application_service
APPLICATION_SERVICE_PORT=50053
