# Postgres settings
POSTGRES_HOST=company_service_postgres
POSTGRES_PORT=5432
POSTGRES_USER=company_service_user
POSTGRES_PASSWORD=12345678
POSTGRES_DB=company_service_db

# Redis settings
REDIS_PREFIX=company_service

# Minio settings
MINIO_BUCKET=company_service

# Company service settings
LOG_CONSOLE_OUT=true
LOG_PATH=/var/log/app/company_service.log
