# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=12345678

# Credentials для postgres_exporter из .env файлов отдельных сервисов.
# Auth service
AUTH_POSTGRES_USER=auth_service_user
AUTH_POSTGRES_PASSWORD=12345678

# Company service
COMPANY_POSTGRES_USER=company_service_user
COMPANY_POSTGRES_PASSWORD=12345678

# Application service
APPLICATION_POSTGRES_USER=application_service_user
APPLICATION_POSTGRES_PASSWORD=12345678
