# Postgres settings
POSTGRES_HOST=application_service_postgres
POSTGRES_PORT=5432
POSTGRES_USER=application_service_user
POSTGRES_PASSWORD=12345678
POSTGRES_DB=application_service_db

# Redis settings
REDIS_PREFIX=application_service

# Minio settings
MINIO_BUCKET=application_service

# Mongo settings
MONGO_USER=application_service
MONGO_PASSWORD=12345678
MONGO_DB=application_service_db

# Application service settings
LOG_CONSOLE_OUT=true
LOG_PATH=/var/log/app/application_service.log
