basePath: /api
definitions:
  Error.HttpError:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  entities.Health:
    properties:
      application_service:
        type: string
      auth_service:
        type: string
      gateway:
        type: string
    type: object
  entities.RegisterRequest:
    properties:
      email:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      password:
        type: string
      patronymic:
        type: string
    type: object
  entities.RegisterResponse:
    properties:
      user_uuid:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  title: Framework task 2 API
  version: "2.0"
paths:
  /health:
    get:
      description: Get all services health status
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/entities.Health'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error.HttpError'
      summary: Health check
      tags:
      - Health
  /register:
    post:
      consumes:
      - application/json
      description: Register new user
      parameters:
      - description: Данные пользователя
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/entities.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/entities.RegisterResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/Error.HttpError'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/Error.HttpError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error.HttpError'
      summary: Register
      tags:
      - Auth
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
