auth_modules:
  auth_db:
    type: userpass
    userpass:
      username: "auth_service_user"
      password: "CHANGE_ME"
    options:
      sslmode: disable
      dbname: auth_service_db

  company_db:
    type: userpass
    userpass:
      username: "company_service_user"
      password: "CHANGE_ME"
    options:
      sslmode: disable
      dbname: company_service_db

  application_db:
    type: userpass
    userpass:
      username: "application_service_user"
      password: "CHANGE_ME"
    options:
      sslmode: disable
      dbname: application_service_db
