@theme {
  --color-bg-0: #191F28;
  --color-bg-1: #313C4B;
  --color-bg-2: #56606B;
  --color-bg-3: #68717A;
  --color-bg-4: #777E86;
  --color-bg-5: #858D96;
  --color-bg-input: #F0F0F0;
  --color-border-main: #F0F0F0;
  --color-btn-main: #557BEE;
  --color-btn-main-hover: #678DFF;
  --color-btn-main-active: #476BD8;
  --color-btn-disabled: #8C8C8C;
  --color-btn-change: #DCB800;
  --color-btn-change-hover: #EEC600;
  --color-btn-change-active: #CFAD00;
  --color-btn-delete: #EA4242;
  --color-btn-delete-hover: #FD4848;
  --color-btn-delete-active: #DF3F3F;
  --color-btn-sidebar: #56606B;
  --color-btn-sidebar-hover: #5F6770;
  --color-btn-sidebar-active: #535C67;
  --color-switch-selected: #6A91B8;
  --color-switch-unselected: #68717A;
  --color-priority-usual: #029F0D;
  --color-priority-important: #B3B318;
  --color-priority-quickly: #CC4919;
  --color-priority-critical: #C53631;
  --color-priority-paramount: #C30D07;
  --color-text-main: #F0F0F0;
  --color-text-input: #3E4C65;
  --color-text-placeholder: #455676;
  --color-text-placeholder-input: #9C9C9C;
  --color-text-link: #BCD1FF;
  --color-text-wrong: #F45A5A;
  --color-avatar-1: #EA4747;
  --color-avatar-2: #BABB60;
  --color-avatar-3: #669425;
  --color-avatar-4: #3D4189;
  --color-avatar-5: #6C1A83;
  --color-avatar-6: #831A56;
  --color-avatar-7: #31A49F;
  --color-avatar-8: #922828;
  --color-avatar-9: #BCBE00;
  --color-avatar-10: #7CCA10;
  --color-avatar-11: #272FC0;
  --color-avatar-12: #9E2ABE;
  --color-avatar-13: #BC297C;
  --color-avatar-14: #12827C;
  --color-avatar-15: #F0895C;
  --color-avatar-16: #D85016;
}
@layer base {
  p, a, pre, span, li, div {
    @apply text-text-main;
  }
  input {
    @apply text-text-input outline-none;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-items: center;
    border-radius: var(--radius-md);
    padding: 4px 16px;
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
  }
  .btn p {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .btn-main {
    background-color: var(--color-btn-main);
  }
  .btn-main p {
    color: var(--color-text-main);
  }
  .btn-main:hover {
    background-color: var(--color-btn-main-hover);
  }
  .btn-main:active {
    background-color: var(--color-btn-main-active);
  }
  .btn-disabled {
    background-color: var(--color-btn-disabled);
    cursor: not-allowed;
  }
  .btn-disabled p {
    color: var(--color-text-main);
  }
  .btn-change {
    background-color: var(--color-btn-change);
  }
  .btn-change p {
    color: var(--color-text-main);
  }
  .btn-change:hover {
    background-color: var(--color-btn-change-hover);
  }
  .btn-change:active {
    background-color: var(--color-btn-change-active);
  }
  .btn-delete {
    background-color: var(--color-btn-delete);
  }
  .btn-delete p {
    color: var(--color-text-main);
  }
  .btn-delete:hover {
    background-color: var(--color-btn-delete-hover);
  }
  .btn-delete:active {
    background-color: var(--color-btn-delete-active);
  }
  .btn-sidebar {
    background-color: var(--color-btn-sidebar);
  }
  .btn-sidebar p {
    color: var(--color-text-main);
  }
  .btn-sidebar:hover {
    background-color: var(--color-btn-sidebar-hover);
  }
  .btn-sidebar:active {
    background-color: var(--color-btn-sidebar-active);
  }
  .scrollable {
    --scroll-bar-width: 6px;
    --scroll-bar-border-radius: 3px;
    --scroll-track-color: #68717A;
    --scroll-thumb-color: #c9c9c9;
    overflow-y: scroll;
    scrollbar-width: var(--scroll-bar-width);
    touch-action: pan-y;
  }
  .scrollable::-webkit-scrollbar {
    width: var(--scroll-bar-width);
  }
  .scrollable::-moz-scrollbar {
    width: var(--scroll-bar-width);
  }
  .scrollable::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: var(--scroll-bar-border-radius);
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    cursor: pointer;
  }
  .scrollable::-moz-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: var(--scroll-bar-border-radius);
    -moz-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    cursor: pointer;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-bar-border-radius);
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    cursor: pointer;
  }
  .scrollable::-moz-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-bar-border-radius);
    -moz-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    cursor: pointer;
  }
  .scrollable-invisible {
    scrollbar-width: 0px;
  }
  .scrollable-invisible::-webkit-scrollbar {
    width: 0px;
  }
  .scrollable-invisible::-moz-scrollbar {
    width: 0px;
  }
  .scrollable-track-invisible {
    --scroll-track-color: transparent;
  }
  .scrollable-x-y {
    --scroll-bar-width: 6px;
    --scroll-bar-height: 6px;
    overflow-x: scroll;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) #dddddd;
  }
}
@layer components {}
@layer utilities {}/*# sourceMappingURL=style.css.map */